@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.loader {
  width: functions.rem(120px);
  height: functions.rem(120px);
  margin-right: auto;
  margin-left: auto;
  border: functions.rem(8px) solid tokens.$color-red-20;
  border-top-color: tokens.$color-red;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
