.gridItem {
  width: 100%;
  padding: var(--spacing-s);

  @media (min-width: 32rem) {
    width: 50%;
  }

  @media (min-width: 48rem) {
    width: 33.333333%;
  }

  @media (min-width: 64rem) {
    width: 25%;
  }
}
