@use '@/styles/tokens' as tokens;

.gridItem {
  width: 100%;
  padding: tokens.$spacing-s;

  @media (min-width: tokens.$breakpoint-s) {
    width: 50%;
  }

  @media (min-width: tokens.$breakpoint-m) {
    width: 33.333333%;
  }

  @media (min-width: tokens.$breakpoint-l) {
    width: 25%;
  }
}
