@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.container {
  max-width: functions.rem(1200px);
  margin-right: auto;
  margin-left: auto;
  padding: tokens.$spacing-l tokens.$spacing-m;
}

.shallow {
  padding-top: tokens.$spacing-m;
  padding-bottom: tokens.$spacing-m;
}
