@use '@/styles/tokens' as tokens;

.button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.active {
  color: tokens.$color-red;
}

.icon {
  position: relative;
  top: 1px;
}
