@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.button {
  width: functions.rem(40px);
  height: functions.rem(40px);
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: functions.rem(18px);
  cursor: pointer;
  color: tokens.$color-black;

  &.active {
    color: tokens.$color-red;
  }
}

.icon {
  position: relative;
  top: functions.rem(1px);
}
