@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.votes {
  display: flex;
  align-items: center;
  height: functions.rem(40px);
  background-color: tokens.$color-white-75;
  border-radius: tokens.$border-radius-l;
  box-shadow: tokens.$box-shadow;
}

.score {
  width: functions.rem(20px);
  text-align: center;
  font-size: functions.rem(18px);
}
