@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  width: functions.rem(50px);
  height: functions.rem(50px);
  margin-right: tokens.$spacing-m;
  border-radius: 50%;
  background-color: tokens.$color-white;
  color: tokens.$color-red;
  font-size: functions.rem(30px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    background-color: tokens.$color-white-75;
    transform: scale(1.15);
    transition: transform 500ms;

    .logo:hover & {
      transform: scale(1.25);
    }
  }
}

.copy {
  display: none;
}

@media (min-width: tokens.$breakpoint-s) {
  .copy {
    display: block;
    color: tokens.$color-white;
    font-size: functions.rem(32px);
    font-weight: bold;
  }
}
