@use '@/styles/tokens' as tokens;

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: tokens.$spacing-s;
  border-radius: 50%;
  background-color: tokens.$color-white;
  color: tokens.$color-red;
  font-size: 1.9rem;
}

.icon::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  background-color: tokens.$color-white-75;
  transform: scale(1.15);
  transition: transform 500ms;
}

.copy {
  display: none;
}

.logo:hover .icon::before {
  transform: scale(1.25);
}

@media (min-width: 500px) {
  .copy {
    display: block;
    color: tokens.$color-white;
    font-size: 2rem;
    font-weight: bold;
  }
}
