@use 'sass:color' as color;

$color-white: rgb(255, 255, 255);
$color-white-75: color.adjust($color-white, $alpha: -0.25);
$color-light-grey: rgb(242, 242, 242);
$color-mid-grey: rgb(224, 224, 224);
$color-dark-grey: rgb(51, 51, 51);
$color-black: rgb(0, 0, 0);
$color-black-10: color.adjust($color-black, $alpha: -0.9);
$color-black-20: color.adjust($color-black, $alpha: -0.8);
$color-black-40: color.adjust($color-black, $alpha: -0.6);
$color-red: rgb(230, 0, 35);
$color-red-20: color.adjust($color-red, $alpha: -0.8);
