@use '@/styles/tokens' as tokens;

.header {
  background-color: tokens.$color-red;
  box-shadow: tokens.$box-shadow;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
