@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.button {
  width: functions.rem(40px);
  height: functions.rem(40px);
  font-size: functions.rem(18px);
  color: tokens.$color-black;

  &.active {
    color: tokens.$color-red;
  }
}

.icon {
  position: relative;
  top: functions.rem(1px);
}
