@use '@/styles/tokens' as tokens;

.imageCard {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: tokens.$border-radius-m;
  background-color: tokens.$color-mid-grey;
  box-shadow: tokens.$box-shadow;
}

.image {
  object-fit: cover;
}

.favourite {
  position: absolute;
  top: tokens.$spacing-s;
  right: tokens.$spacing-s;
}
