@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.input {
  display: none;
}

.label {
  display: flex;
  flex-direction: column;
  padding: functions.rem(50px);
  background-color: tokens.$color-mid-grey;
  border: functions.rem(1px) solid tokens.$color-dark-grey;
  border-radius: tokens.$border-radius-m;
  font-size: functions.rem(32px);
  box-shadow: tokens.$box-shadow;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: tokens.$color-light-grey;
  }
}

.input:disabled + .label {
  color: tokens.$color-black-40;
}

.icon {
  margin-bottom: tokens.$spacing-m;
}
