@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: functions.rem(40px);
  height: functions.rem(40px);
  background-color: tokens.$color-white-75;
  border-radius: tokens.$border-radius-full;
  box-shadow: tokens.$box-shadow;
  font-size: functions.rem(24px);
  color: tokens.$color-black;

  &.active {
    color: tokens.$color-red;
  }
}

.icon {
  position: relative;
  top: functions.rem(1px);
}
