@use '@/styles/tokens' as tokens;

.link {
  padding: tokens.$spacing-s;
  color: tokens.$color-white;
  text-decoration: none;
  border-radius: tokens.$border-radius-s;
  background-color: tokens.$color-black-20;

  &:not(.active):hover {
    background-color: tokens.$color-black-40;
  }

  &.active {
    background-color: tokens.$color-white;
    color: tokens.$color-red;
  }
}

.icon {
  display: none;
}

@media (min-width: tokens.$breakpoint-s) {
  .icon {
    display: inline-block;
    margin-right: tokens.$spacing-s;
  }
}
