@use '@/styles/tokens' as tokens;

.message {
  font-size: 1.5rem;
  line-height: 1.5;
  color: tokens.$color-dark-grey;
  text-align: center;
}

.message a {
  color: inherit;
}

.error {
  color: tokens.$color-red;
}
