@use '@/styles/functions' as functions;
@use '@/styles/tokens' as tokens;

.message {
  font-size: functions.rem(24px);
  line-height: 1.5;
  color: tokens.$color-dark-grey;
  text-align: center;
}

.error {
  color: tokens.$color-red;
}
